[Unit]
Description=Synchronize calendars and contacts
After=network-online.target
Wants=network-online.target

[Service]
Type=oneshot
ExecStart=/usr/bin/rclone copy --exclude=~/Documents/todo/** ~/Documents/ gdisk:/Documents
ExecStart=/usr/bin/rclone copy ~/Pictures/Pictures gdisk:/Pictures/Pictures
ExecStart=/usr/bin/rclone copy ~/Music gdisk:/Music

