[Unit]
Description=Synchronize todo list
After=network-online.target
Wants=network-online.target

[Service]
Type=oneshot
ExecStart=/usr/bin/rclone bisync -v --force %h/Documents/todo gdisk:/Documents/todo
StandardOutput=journal
StandardError=journal

