@define-color color-text #f1f1f0;
@define-color color-bg #18151a;
@define-color color-bg-transparent rgba(24, 21, 26, 0.6);
@define-color color-primary #33963c;
@define-color color-urgent #de334f;

* {
    /* `otf-font-awesome` is required to be installed for icons */
    font-family: FontAwesome, Roboto, Helvetica, Arial, sans-serif;
    font-size: 13px;
    color: @color-text;
    border: none;
    border-radius: 15px;
    padding: 0px 0px;
}

window#waybar {
    padding: 0px;
    background: transparent;
}

button {
    padding: 0px 5px;
    transition: all 0.340s linear;
}

#setup,
#hardware,
#clock,
#workspaces {
    padding: 0px;
    background-color: rgba(100, 114, 109, 0.6);
    border: 2px solid @color-primary;
}

#workspaces button:hover {
    background: transparent;
    border: 0px;
    box-shadow: none;
}

#workspaces button.active {
    transition: all 0.3s linear;
    background-color: @color-bg;
    padding: 0 10px;
}

#workspaces button.urgent {
    background-color: @color-urgent;
}

#pulseaudio-slider slider {
    min-height: 25px;
    min-width: 15px;
    box-shadow: none;
    padding: 0px;
    border: 2px solid @color-primary;
    background: transparent;
    background-color: @color-primary;
}
#pulseaudio-slider trough {
    min-width: 100px;
    min-height: 23px;
    background: transparent;
    padding: 0px 10px 0px 0px;
}
#pulseaudio-slider highlight {
    background-color: rgba(100, 114, 109, 0.6);
    padding: 0px;
    border-radius: 15px 0px 0px 15px;
}

#custom-rclone {
    min-width: 35px;
    padding: 0px 0px 0px 3px;
    background-color: rgba(100, 114, 109, 0.6);
    border-radius: 15px;
}

#custom-rclone.passed {
    border: 2px solid @color-primary;
}

#custom-rclone.failed {
    border: 2px solid @color-urgent;
    color: @color-urgent;
}

#cpu {
    padding: 0px 5px 0px 12px;
    border: 1px solid @color-primary;
    border-width: 0px 1px 0px 0px;
}

#pulseaudio {
    min-width: 110px;
    padding: 0px 5px 0px 0px;
    border: 1px solid @color-primary;
    border-width: 0px 1px 0px 0px;
}

#network,
#memory,
#disk {
    padding: 0px 5px;
    border: 1px solid @color-primary;
    border-width: 0px 1px 0px 0px;
}

#backlight,
#battery {
    padding: 0px 5px;
    border: 0px;
}

#clock {
    padding: 0 15px;
}

